@font-face {
  font-family: "Galore-reg";
  src: url("./fonts/GaloreDEMO.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "Roboto-reg";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Vogue-reg";
  src: url("./fonts/Vogue.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeueLTPro-UltLt.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto;
  font-family: "Roboto-reg";
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
/* CSS for NavBar & Header Section */
.desktop-Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 1rem 3rem;
}
.Left-Navbar {
  display: flex;
  flex-direction: row;
  gap: 45px;
  width: 400px;
  align-items: center;
  justify-content: left;
}
.Right-Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 45px;
  width: 400px;
}
li {
  list-style-type: none;
}
.desktopLink {
  text-decoration: none;
  color: white;
  transition: all 0.25s ease-in-out;
}
.desktopLink:hover {
  mix-blend-mode: difference;
  color: #f9dd94;
  padding-bottom: 3px;
  border-bottom: 1px solid #f2c57c;
}
.logo {
  color: white;
  display: flex;
  max-width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.elite {
  mix-blend-mode: difference;
  color: #f8d680;
  font-family: "Vogue-reg";
  font-size: 55px;
  line-height: 55px;
}
.watch {
  mix-blend-mode: difference;
  font-family: "Roboto-reg";
}
.bg--video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
.Header--Section {
  color: white;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem 0;
  margin: 0 3rem;
}
.Header--Section__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  min-width: 500px;
}
.Hero--TagLine {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}
.Hero--TagLine span {
  color: #f8d680;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Hero--Creator {
  font-size: 3rem;
  font-weight: 500;
  font-weight: 400;
  font-family: "Helvetica";
}
.Hero--Creator span {
  color: #f8d680;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Header--Section a {
  border: none;
  background: transparent;
  color: white;
  font-family: 300;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 2px solid white;
  padding: 1rem;
  width: 9rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.Header--Section a:hover {
  border: 2px solid #f8d680;
  color: #f8d680;
}
.Header--Section a:active {
  color: #997823;
}
.Header--Section__right {
  flex: 0.5;
  height: 300px;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  min-width: 600px;
}
.intro {
  color: #f8d680;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Header--Section__right p {
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
}
.Header--Section__right span {
  text-transform: capitalize;
  color: #7fb685;
}
.mobile-Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-Menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8d68063;
  border-radius: 28px;
  width: 200px;
  padding: 2rem 0;
  gap: 25px;
}
.burger {
  display: none;
  background: url("./assets/icons8-menu-48.svg");
  cursor: pointer;
}
.mobile-Menu a {
  text-decoration: none;
  color: white;
  transition: all 0.25s ease-in-out;
}
.mobile-Menu a:hover {
  color: black;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1300px) {
  .Left-Navbar {
    display: none;
  }
  .Right-Navbar {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 1212px) {
  .Header--Section {
    margin: 0;
    gap: 0;
  }
  .Header--Section__left {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2rem;
    width: 100%
  }
  .Header--Section__right {
    border-bottom: 1px solid white;
    padding: 2rem;
    width: 100%
  }
  .Header--Section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 85vh;
  }
  .Header--Section__left {
    flex: 0;
    min-width: 300px;
  }
  .Header--Section__right {
    flex: 0;
    align-items: flex-start;
    min-width: 200px;
  }
  .Header--Section__right p {
    text-align: left;
  }
}
@media screen and (max-width: 560px) {
  .Hero--TagLine {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .Hero--TagLine span {
    font-size: 3rem;
  }
  .Hero--Creator {
    font-size: 2rem;
  }
  .Hero--Creator span {
    font-size: 3rem;
  }
  .Header--Section button {
    font-size: 0.75rem;
    width: 7rem;
    padding: 0.75rem;
  }
  .elite {
    font-size: 35px;
    line-height: 40px;
  }
  .watch {
    font-size: 12px;
  }
  .intro {
    font-size: 2rem;
  }
  .Header--Section__right p {
    font-size: 15px;
    line-height: 22px;
  }
}

/* CSS for CTA Section */
.CTA {
   padding: 3rem;
  margin: 2rem 3rem;
  border-radius: 55px;
 background: linear-gradient(to right, #F1E9DB, #A39B8B); 
  color: #132E32;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
 box-shadow: -1px -1px 49px 8px rgba(255, 255, 255, 0.158);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}
.CTA p{
}
.CTA a {
  width: 9rem;
  padding: 1rem;
  text-decoration: none;
    color: #132E32;
  transition: all 0.35s ease-in-out;
  border: 2px solid #132E32;
  border-radius: 12px;
}
.CTA a:hover{
    background-color:#132E32;
    color: #F1E9DB;
    
}

@media screen and (max-width:850px) {
    .CTA{
        padding: 3rem;
        flex-direction: column;
    }
}