@font-face {
  font-family: "Galore-reg";
  src: url("./fonts/GaloreDEMO.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "Roboto-reg";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Vogue-reg";
  src: url("./fonts/Vogue.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeueLTPro-UltLt.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto;
  font-family: "Roboto-reg";
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
/* CSS for NavBar & Header Section */
.desktop-Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 1rem 3rem;
}
.Left-Navbar {
  display: flex;
  flex-direction: row;
  gap: 45px;
  width: 400px;
  align-items: center;
  justify-content: left;
}
.Right-Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 45px;
  width: 400px;
}
li {
  list-style-type: none;
}
.desktopLink {
  text-decoration: none;
  color: white;
  transition: all 0.25s ease-in-out;
}
.desktopLink:hover {
  mix-blend-mode: difference;
  color: #f9dd94;
  padding-bottom: 3px;
  border-bottom: 1px solid #f2c57c;
}
.logo {
  color: white;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.elite {
  mix-blend-mode: difference;
  color: #f8d680;
  font-family: "Vogue-reg";
  font-size: 55px;
  line-height: 55px;
}
.watch {
  mix-blend-mode: difference;
  font-family: "Roboto-reg";
}
.bg--video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
.Header--Section {
  color: white;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem 0;
  margin: 0 3rem;
}
.Header--Section__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 6px;
  height: 300px;
  min-width: 500px;
}
.Hero--TagLine {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}
.Hero--TagLine span {
  color: #f8d680;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Hero--Creator {
  font-size: 3rem;
  font-weight: 500;
  font-weight: 400;
  font-family: "Helvetica";
}
.Hero--Creator span {
  color: #f8d680;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Header--Section a {
  border: none;
  background: transparent;
  color: white;
  font-family: 300;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 2px solid white;
  padding: 1rem;
  width: 9rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.Header--Section a:hover {
  border: 2px solid #f8d680;
  color: #f8d680;
}
.Header--Section a:active {
  color: #997823;
}
.Header--Section__right {
  flex: 0.5;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 9px;
  min-width: 600px;
}
.intro {
  color: #f8d680;
  line-height: 4rem;
  font-size: 4rem;
  mix-blend-mode: difference;
}
.Header--Section__right p {
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
}
.Header--Section__right span {
  text-transform: capitalize;
  color: #7fb685;
}
.mobile-Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-Menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8d68063;
  border-radius: 28px;
  width: 200px;
  padding: 2rem 0;
  gap: 25px;
}
.burger {
  display: none;
  background: url("./assets/icons8-menu-48.svg");
  cursor: pointer;
}
.mobile-Menu a {
  text-decoration: none;
  color: white;
  transition: all 0.25s ease-in-out;
}
.mobile-Menu a:hover {
  color: black;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1300px) {
  .Left-Navbar {
    display: none;
  }
  .Right-Navbar {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 1212px) {
  .Header--Section {
    margin: 0;
    gap: 0;
  }
  .Header--Section__left {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2rem;
    width: 100%;
  }
  .Header--Section__right {
    border-bottom: 1px solid white;
    padding: 2rem;
    width: 100%;
  }
  .Header--Section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 85vh;
  }
  .Header--Section__left {
    flex: 0;
    min-width: 300px;
  }
  .Header--Section__right {
    flex: 0;
    align-items: flex-start;
    min-width: 200px;
  }
  .Header--Section__right p {
    text-align: left;
  }
}
@media screen and (max-width: 560px) {
  .Hero--TagLine {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .Hero--TagLine span {
    font-size: 3rem;
  }
  .Hero--Creator {
    font-size: 2rem;
  }
  .Hero--Creator span {
    font-size: 3rem;
  }
  .Header--Section button {
    font-size: 0.75rem;
    width: 7rem;
    padding: 0.75rem;
  }
  .elite {
    font-size: 35px;
    line-height: 40px;
  }
  .watch {
    font-size: 12px;
  }
  .intro {
    font-size: 2rem;
  }
  .Header--Section__right p {
    font-size: 15px;
    line-height: 22px;
  }
}

/* CSS for CTA Section */
.CTA {
  padding: 3rem;
  margin: 2rem 3rem;
  border-radius: 55px;
  background-color: #e7e7e7;
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  box-shadow: -1px -1px 49px 8px rgba(255, 255, 255, 0.274);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}
.CTA a {
  width: 9rem;
  padding: 1rem;
  text-decoration: none;
  color: #0f0f0f;
  transition: all 0.35s ease-in-out;
  border: 2px solid #000000;
  border-radius: 12px;
}
.CTA a:hover {
  background-color: #0e0e0e;
  border: 2px solid #000000;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .CTA {
    padding: 3rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .CTA {
    font-size: 18px;
    line-height: 22px;
  }
  .CTA a {
    width: 7rem;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 14px;
    color: #132e32;
    transition: all 0.35s ease-in-out;
    border: 2px solid #132e32;
    border-radius: 12px;
  }
}
/* CSS for Product Description Section */
.product--Description {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}
.first__Desc,
.third__Desc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
}
.secound__Desc,
.fourth__Desc {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 6rem;
}
.prodImg {
  width: 100%;
  height: 100%;
}
.desc {
  color: white;
}
.desc h3 {
  color: #f8d680;
  font-size: 4rem;
  line-height: 6rem;
}
.desc p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  width: 600px;
}
.secound__Desc .prodImg {
  width: 100%;
  height: 100%;
}
.desc__props {
  font-size: 16px;
  line-height: 20px;
  margin-top: 1rem;
  gap: 12px;
  font-weight: 400;
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
}
.desc__props span {
  color: #f8d680;
}
@media screen and (max-width: 1220px) {
  .first__Desc,
  .secound__Desc,
  .third__Desc,
  .fourth__Desc {
    flex-direction: column;
    border-top: 1px solid white;
    justify-content: end;
    align-items: baseline;
    gap: 2rem;
    width: 100%;
  }
  .fourth__Desc {
    border-bottom: 1px solid white;
  }
  .product--Description {
    margin: 0;
  }
  .desc p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    width: auto;
  }
  .prodImg {
    width: 100%;
  }
  .secound__Desc .prodImg {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .desc h3 {
    color: #f8d680;
    font-size: 2.9rem;
    line-height: 5rem;
  }
}
/* CSS for Featured Produccts Section  */
.feature--Products {
  display: flex;
  flex-direction: row;
  margin: 1rem 3rem;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: -1px -1px 49px 8px rgba(255, 255, 255, 0.274);
  align-items: center;
  background-color: #a7a7a7;
  justify-content: center;
}
.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
  font-size: 18px;
  gap: 18px;
  flex: 0.3;
  border-right: rgb(2, 2, 2) 1px solid;
}
.Title a {
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: black;
  border: 2px solid #0e0e0e;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.35s ease-in-out;
}
.Title a:hover {
  background-color: black;
  color: white;
  border-radius: 14px;
}
.prodContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  flex: 1;
  justify-content: center;
}
.prod {
  background-color: #132e32;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
}
.prod img {
  width: 70%;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tagline {
  color: #c7c7c7;
  font-size: 14px;
  line-height: 28px;
}

.title {
  color: white;
  font-size: 20px;
  line-height: 28px;
}
.title_tag {
  color: rgb(159, 255, 250);
}

@media screen and (max-width: 1240px) {
  .feature--Products {
    flex-direction: column;
  }
  .Title {
    flex: 1;
    border: none;
    padding-top: 2rem;
  }
  .prodContainer {
    justify-content: center;
  }
  .prod {
    width: 300px;
  }
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 533px) {
  .Title {
    font-size: 14px;
  }
  .Title a {
    font-size: 14px;
    padding: 0.5rem;
  }
  .prod {
    width: 250px;
  }
  .title {
    font-size: 16px;
    line-height: 20px;
  }
  .title_tag {
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .feature--Products {
    margin: 0;
  }
}

/* CSS for Products Section */
.Products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 3rem;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.9;
  background-color: #132e32;
  border-radius: 25px;
  padding: 3rem;
  gap: 35px;
}
.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.name {
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
.modalnumber {
  color: rgb(241, 139, 139);
  font-size: 16px;
}
.leftContainer img {
  width: 50%;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.cart {
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgb(255, 255, 125);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
.cart:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.buy {
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgb(37, 37, 37);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.buy:hover {
  background-color: rgb(236, 147, 147);
  color: rgb(255, 255, 255);
}
.buy img {
  width: 35px;
}
.cart img {
  width: 35px;
}
.rightSection {
  display: grid;
  flex: 1 1;
  gap: 1rem;

  grid-template-columns: repeat(2, 1fr);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #132e32;
  border-radius: 25px;
  width: auto;
  height: auto;
  padding: 1rem;
}
.product img {
  width: 50%;
}
@media screen and (min-width: 1330px) {
  .rightSection {
    grid-template-columns: repeat(2, 387px);
  }
}
@media screen and (max-width: 1330px) {
  .Products {
    flex-direction: column;
  }
  .rightSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .rightSection {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .leftContainer {
    padding: 1rem;
  }
  .buttons {
    flex-direction: column;
  }
}
/* CSS for Address Section */
.address--Section {
  background-color: #a7a7a7;
  margin: 2rem 3rem;
  height: 50vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -1px -1px 49px 8px rgba(255, 255, 255, 0.274);
  gap: 35px;
  align-items: center;
}
.address--Section p {
  color: #132e32;
  font-size: 5rem;
  font-family: "Vogue-reg";
}
.address--Section a {
  text-decoration: none;
  border: none;
  border: 3px solid #132e32;
  color: #132e32;
  border-radius: 55px;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
}
.address--Section a:hover {
  background-color: #132e32;
  color: #a7a7a7;
  border: 3px solid #132e32;
}
@media screen and (max-width:860px) {
  .address--Section p {
  font-size: 3rem;
 
}
}
@media screen and (max-width:506px) {
  .address--Section p {
  font-size: 2rem;
 
}.address--Section a {

  border-radius: 55px;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

}
/* CSS for Footer Section */
.Footer--Section__Left{
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 35px;
  justify-content: space-evenly;
  align-items: center;
}.Left-Footer{
display: flex;
flex-direction: column;
gap: 35px;
align-items: center;
justify-content: space-evenly;
}.Right-Footer{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
gap: 35px;
}
.logo p{
  padding-top:1.5rem ;
  color: #a7a7a7;
  width: auto;
text-align: center;
}
@media screen and (max-width:950px) {
  .Footer--Section__Left{
    flex-direction: column;
  }
}